body{
    background: url("../images/quiz-page-background.png");
    /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #99d9ea;
  /* margin:0px; */
  padding-top: 65px;
}

#homepageimage{    
    height: 60px;
    width:60px;
    margin: 0px;
    top:50%;
    left:90%;
    position: fixed;
    z-index: 2;
   
}

.screen{
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1;
    left:0%;
    top:0;
    position: fixed;
    display: block;   
   
}

.container{
    border: 1px solid ivory;
    border-radius: 10px;
    position: relative;
    width: 90%;
}
.col-lg-12{
    position: relative;
    /* border:1px solid red; */
}
.timer{
    color: ivory;
    background-color: black;
    width:80px;
    height: 30px;
    border-radius: 5px;
    position: absolute;
    right:5px;
    text-align: center;
    top:5px;
    display: none;
}

.quiz-container{
    visibility: hidden;
}

#question{
    width:90%;
    height:5%;
    color:black;
   
   
}
#qnumdiv{
    margin-top:20px;
    text-align: center;
}
#qtext{
    display: inline-block;
    width:100%;
    font-size: 20px;
    text-align:start ;
}
#feedback{
    text-align: center;
    visibility: hidden;
}
.modal .modal-dialog .modal-content{
    background-color: rgb(195, 213, 247) !important;
}